/* You can add global styles to this file, and also import other style files */

@import "app/shared/variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "bootstrap/scss/bootstrap";

//////////////////////////////////////////
// Then add additional custom code here //
//////////////////////////////////////////

// custom variables
:root {
  --sidebar-width: 225px;
  --sidebar-zIndex: 100;
  --sidebar-bg: var(--bs-secondary-bg);

  --webplayer-height: 100px;
  --webplayer-zIndex: 150;
  --webplayer-bg: var(--bs-secondary-bg);

  //--header-height: 75px;
  //--header-bg: var(--bs-body-bg);
  --main-content-bg: var(--bs-secondary-bg);
  --component-bg: var(--bs-secondary-bg);

  [data-bs-theme="dark"] {
    --sidebar-bg: var(--bs-secondary-bg);
    --webplayer-bg: var(--bs-secondary-bg);
    --main-content-bg: var(--bs-body-bg);
    //--header-bg: var(--bs-secondary-bg);
    --component-bg: var(--bs-secondary-bg);
  }
}

// modifying bootstrap variables
:root {
  //  --bs-body-font-size: 1.2rem;
  --bs-body-font-family: "Roboto Condensed", sans-serif;
}

// custom global classes

app-artist-card {
  .img-circle img {
    filter: brightness(0.7);
  }
}

app-card .btn-secondary {
  background-color: rgba(var(--bs-secondary-bg-rgb), 0.7);
  border: 0;
}
