<div class="d-flex flex-warp mt-5 p-4 bottom-0">
  <div class="col-md-6">
    <div class="row">
      <div class="col-8 col-md-6">
        <h5>APP NAME</h5>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
          at veniam reiciendis rerum nostrum alias deleniti consequatur hic
          voluptate doloremque.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row justify-content-end">
      <div class="col-lg-3">
        <h5>About</h5>
        <div class="list-group">
          <a class="list-group-item list-group-item-action" href="#"
            >About Us</a
          >
          <a class="list-group-item list-group-item-action" href="#"
            >Contact Us</a
          >
        </div>
      </div>
      <div class="col-lg-3">
        <h5>License and Terms</h5>
        <div class="list-group">
          <a class="list-group-item list-group-item-action" href="#"
            >Artist License</a
          >
          <a class="list-group-item list-group-item-action" href="#"
            >Terms of Use</a
          >
          <a class="list-group-item list-group-item-action" href="#"
            >Copyright Policy</a
          >
          <a class="list-group-item list-group-item-action" href="#"
            >Privacy Policy</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
