.layout-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.layout-main {
  margin-left: var(--sidebar-width);
  height: calc(100% - var(--webplayer-height));
  overflow-y: auto;
  background: var(--main-content-bg);
}
.layout-sidebar {
  position: absolute;
  left: 0;
  z-index: var(--sidebar-zIndex);
  width: var(--sidebar-width);
  height: calc(100% - var(--webplayer-height));
  background: var(--sidebar-bg);
}

header {
  height: var(--header-height);
  background: var(--header-bg);
}

.webplayer {
  position: absolute;
  bottom: 0;
  height: var(--webplayer-height);
  width: 100vw;
  background: var(--webplayer-bg);
}
