<div class="layout-wrapper">
  <!-- LEFT FIXED SIDE BAR -->
  <div class="layout-sidebar">
    <aside>
      <app-main-sidebar></app-main-sidebar>
    </aside>
  </div>

  <section class="layout-main">
    <!-- TOP NAVIGATION -->
    <header>
      <app-main-header></app-main-header>
    </header>

    <!-- MAIN CONTENT -->
    <main>
      <div class="container-fluid">
        <router-outlet />
      </div>
    </main>

    <!-- FOOTER -->
    <footer class="mt-auto">
      <app-main-footer></app-main-footer>
    </footer>
  </section>

  <!-- BOTTOM FIXED PLAYER -->
  <section class="webplayer">webplayer</section>
</div>
