.nav {
  gap: 0.7rem;
  padding: 0.7rem;
}
.nav-link {
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-color: var(--bs-body-color);
  border-radius: var(--bs-border-radius-lg);

  fa-icon {
    font-size: calc(var(--bs-body-font-size) * 1.2);
    margin-right: 0.5rem;
  }
}
.nav-link:hover,
.nav-link.active {
  background-color: var(--bs-tertiary-bg);
  color: var(--bs-link-hover-color);
}
