////////////////////////////////
// Default variable overrides //
////////////////////////////////
$primary: #20c997; //$teal;
$secondary: rgb(38, 38, 38);
$form-range-track-height: 0.3rem;
$form-range-track-box-shadow: 0;

// dark overrides
$body-bg-dark: #0d0d0d;
$body-secondary-bg-dark: #171717;
