// custom sidebar values
$sidebar-width: 225px;
$sidebar-zIndex: 100;
$sidebar-background: transparent;

// custom webplayer values
$webplayer-height: 100px;
$webplayer-zIndex: 150;
$webplayer-background: transparent;

// custom header values
$header-height: 50px;
