.card {
  --bs-card-border-width: 0;
}

img {
  object-position: center;
  object-fit: cover;
}
.card-img-overlay {
  background-color: rgba($color: #000000, $alpha: 0.2);
}

.img-focus {
  overflow: hidden;
  img {
    transition: transform 0.3s;
  }
  &:hover img {
    transform: scale(1.05);
  }
}

.img-circle {
  .card-img-overlay,
  img {
    border-radius: 50%;
    transition: background 0.3s;
  }
  &:hover .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.img-circle-border {
  border-radius: 50%;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}
