<div class="wrapper">
  <div ngbDropdown>
    <button
      class="btn text-start px-3 w-100 text-truncate"
      type="button"
      id="dropdownCatalogue"
      ngbDropdownToggle
    >
      <fa-icon icon="shuffle"></fa-icon>
      Random tracks
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownCatalogue">
      <button ngbDropdownItem>Month's tend</button>
      <button ngbDropdownItem>Daily recommendations</button>
    </div>
  </div>

  <div class="list-group mt-2">
    <a
      *ngFor="let item of data"
      [routerLink]="item.link"
      class="list-group-item list-group-item-action border-0"
      aria-current="true"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0 text-truncate">{{ item.title }}</h5>
      </div>
      <span class="text-muted">{{ item.description }}</span>
    </a>
  </div>
</div>
